@model IEnumerable<BarManagement.UI.Models.Authentication.BarmenReceiptViewModel>

<div>
    <h3>Orders</h3>
    <select class="form-select mb-4">
        <option selected>Day</option>
        <option>Month</option>
    </select>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Created
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Created
                    </td>
                    <td>
                        $@obj.Total
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>