﻿

@model IEnumerable<BarManagement.UI.Models.Buyings.SpendingViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Spendings
            </h2>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Commodity
                </th>
                <th>
                    Amount Spent
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.CommodityTitle
                    </td>
                    <td>
                        @obj.AmountSpent
                    </td>
                    <td>
                        @obj.Date.ToLongDateString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>