﻿

@model IEnumerable<BarManagement.UI.Models.Coctails.CoctailViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Coctails
            </h2>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td> <a class="btn btn-primary btn-custom" asp-controller="Coctails" asp-action="GetCoctailDetails" asp-route-coctailId="@obj.Id">Details</a></td>
                </tr> 
            }
        </tbody>
    </table>
</div>